@model ShopViewModel
@{
    ViewData["Title"] = "Home Page";

}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="row">
        <form method="get" asp-action="index" class="d-flex">
            <input type="text" name="search" class="form-control" placeholder="Search by name or description" value="@Context.Request.Query["search"]" />
            <button type="submit" class="btn btn-primary "> Search</button>
        </form>
    </div>
</section>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <span>PageIndex @Model.PaginatedItems.PageIndex PageSize @Model.PaginatedItems.TotalPages</span>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model.PaginatedItems)
            {

                string imageUrl = item.ImageUrl ?? @"https://dummyimage.com/450x300/dee2e6/6c757d.jpg";
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src='@imageUrl' alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <!-- Product price-->
                                RS. @item.Price.ToString("N")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/home/details/@item.Id">View options</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (Model.PaginatedItems.TotalPages > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.PaginatedItems.HasPreviousPage)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="1">Previous</a></li>
                    }
                    @for (int i = 1; i <= Model.PaginatedItems.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                    }

                    
                   
                    @if (Model.PaginatedItems.HasNextPage)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PaginatedItems.PageIndex+1)">Next</a></li>
                    }
            </ul>
        </nav>
        }
    </div>
</section>
